body {
	font-family: bmjua;
	
}	

@font-face {
	font-family: bmjua;
	src: url(./font/BMJUA_ttf.ttf);
}

p {
	font-size: 16px;
}

.margin {
	
	margin: auto;
}

.section {
	height: 300px;
}
h1 {
	color: #ffffff;
	
	
}
div > img {
	height: 100px;
}


.container-fluid {
	padding-top: 70px;
	padding-bottom: 70px;
	background-image: linear-gradient(180deg,#fb4d7d,#ff7556);
	
}