@font-face {
	font-family: bmjua;
	src: url(./font/BMJUA_ttf.ttf);
}
body {
	font-family: bmjua;
	background-image: linear-gradient(180deg,#fb4d7d,#ff7556);

	
}	

.highlight{
	font-size: 4em;
}

p {
	font-size: 16px;
}


.section {
	height: 300px;
}
h1 {
	color: #ffffff;
	
	
}
div > img {
	height: 100px;
}


.container-fluid {
	padding-top: 70px;
	
	
}